
<div id="middle">
<div class="span-16 ">
<%=  image_tag("slider.jpg",   :width => '620', :class => "slider_sample")	 %>
	</div>
<div class="span-8 last">
	<div id="right_box">


<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  

  <div><%= f.label :email %><br />
  <%= f.email_field :email , :size => 15%></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :size => 15 %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :size => 15 %></div>

  <div><%= f.submit "Sign up" %></div>
  <%= devise_error_messages! %>
<% end %>

<%= render :partial => "devise/shared/links" %>



</div>
	</div>	
</div>
	

	<%= render 'home/tips_bar' %>
  

