<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, 'data-tooltip' => 'Enter short name of new group i.e. UG Inf Students 2009' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, 'data-tooltip' => 'Brief description of group i.e. Events for students of computer science on UG' %>
  </div>
 <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public, 'data-tooltip' => 'Determines whether other users can join this group without prior invitation' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
