<%= link_to 'Manage groups', manage_groups_path %>
<%= link_to 'Upcoming events', upcoming_events_path %>
<%= link_to 'Download client', client_download_path %>
<%= link_to 'Settings', show_settings_path %>
<div id="credentials_information">
  Welcome 
  <%= current_user.email %> 
  would you like to 
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
</div>
    
