<%= link_to t(:user_panel), manage_groups_path %>
<%= link_to t(:settings), show_settings_path %>
<%= link_to t(:download_client), prepare_setup_path %>
<div id="credentials_information">
  <%= t :hello %>
  <%= current_user.email %>
  <%= t :would_you_like_to %>
  <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete %>
</div>
