<div class="span-24 ">
  <div id="logged_middle">
    <div id="logged_middle_inner">
      <p id="notice">
        <%= notice %>
      </p>
      <p>
        <b><%=t :title %></b>
        <%= @event.title %>
      </p>
      <p>
        <b><%=t :description %></b>
        <%= @event.description %>
      </p>
      <p>
        <b><%=t :date %></b>
        <%= @event.date %>
      </p>
      <p>
        <b><%=t :group %></b>
        <%= @event.group %>
      </p>
      <%= link_to t(: edit), edit_group_event_path(@event.group_id, @event.id) %>
    </div>
  </div>
</div>
