<!DOCTYPE html>
<html>
<head>
  <title>InfoReminder</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_menu">
  <%= link_to 'Find groups', search_groups_path %>
  <% if user_signed_in? %>
    <%= render partial: 'users/signed_in_menu' %>
  <% else %>
    <%= render partial: 'users/signed_out_menu' %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
